body {
  background-image: url(images/default.jpg);
  font-family: "Inter", sans-serif;
}
header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(194, 222, 246);
}
div.display {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  order: solid 1px rgb(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin: 60px auto;
  padding: 30px 30px 5px 30px;
  max-width: 600px;
}
form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
form input.search-bar {
  flex: 1;
  border: solid 1px rgb(194, 222, 246);
  font-size: 16px;
  padding: 20px;
  border-radius: 5px;
  min-width: 100px;
}
form input.button {
  margin-left: 5px;
  font-size: 16px;
  padding: 20px;
  border: none;
  line-height: 1;
  border-radius: 5px;
  color: rgb(29, 29, 80);
}
main {
  padding: 20px;
  padding-bottom: 10px;
  color: white;
}
div h1 {
  font-weight: 100;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temp-display {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-weight: 100;
}
.current-temp-icon {
  font-size: 40px;
  margin-top: 11px;
}
.current-temp {
  margin-top: 11px;
  margin-left: 10px;
}
.current-temp-unit {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 200;
}
. div.data {
  font-weight: 300;
  font-size: medium;
}
footer p {
  color: rgb(160, 186, 208);
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgb(194, 222, 246);
  font-size: medium;
}
footer p a {
  text-decoration: underline;
  font-weight: 700;
  color: rgb(92, 117, 139);
}
