body {
  background-image: url(images/default.jpg);
  font-family: "Inter", sans-serif;
}
h1 {
  color: rgb(92, 117, 139);
  text-align: center;
  margin-top: 60px;
  font-family: "Anton", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 50px;
}
header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(194, 222, 246, 0.571);
}
div.display {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  order: solid 1px rgb(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin: 50px auto 20px;
  padding: 30px 30px 5px 30px;
  min-width: 300px;
  max-width: 600px;
}
form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
form input.search-bar {
  flex: 1;
  border: solid 1px rgb(194, 222, 246);
  font-size: 16px;
  padding: 20px;
  border-radius: 5px;
  min-width: 100px;
}
form input.button {
  margin-left: 5px;
  font-size: 16px;
  padding: 20px;
  border: none;
  line-height: 1;
  border-radius: 5px;
  color: rgb(29, 29, 80);
}
main {
  padding-bottom: 10px;
  color: white;
}
div h2 {
  font-weight: 100;
  font-size: 35px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temp-display {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  font-weight: 100;
}
.weather-icon {
  width: 99px;
  height: 99px;
  margin-right: -20px;
  margin-top: 15px;
}
.current-temp {
  margin-top: 30px;
  margin-left: 10px;
  line-height: 70px;
}
.current-temp-unit {
  margin-top: 38px;
  font-size: 20px;
  font-weight: 200;
}
div.data {
  font-weight: 300;
  font-size: 16px;
}
#weather-description {
  font-weight: 500;
  color: rgb(160, 186, 208);
}
#humidity {
  font-weight: 500;
  color: rgb(160, 186, 208);
}
#wind {
  font-weight: 500;
  color: rgb(160, 186, 208);
}
.forecast {
  border-top: 1px solid rgba(194, 222, 246, 0.571);
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
}
.forecast-column {
  width: 70px;
  height: 70px;
  padding: 13px 10px 10px 10px;
  margin-top: 10px;
  border-radius: 100%;
  background-color: rgba(231, 229, 229, 0.051);
}
.forecast-day {
  color: rgb(92, 117, 139);
  font-size: 15px;
  line-height: 20px;
}
.forecast-icon {
  font-size: 20px;
}
.forecast-temperatures {
  color: rgb(92, 117, 139);
  font-size: 10px;
  display: flex;
  justify-content: center;
}
.forecast-temp {
  padding-left: 4px;
}
footer p {
  color: rgb(160, 186, 208);
  text-align: center;
  font-size: medium;
}
footer p a {
  text-decoration: underline;
  font-weight: 700;
  color: rgb(92, 117, 139);
}
